
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Eule</title>
	<style type="text/css">
		body {
			text-align: center;
			font-family: FreeMono, monospace;
			font-size: 20px;
			background-image: url("");
		}
		h1 {
			text-align: center;
			background-color: #778899;
			padding: 40px;
		}
		input {
			font-family: FreeMono, monospace;
		}
	</style>
</head>
<body>
	<h1>Inserir</h1>
	<form method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Inserir">
	</form>

</body>
</html>